@media (max-width: 1300px) {}

@media (max-width: 1200px) {
  .carousel-caption {
    top: 10%;
  }
  .banner_bg_color{
    padding-top: 20px;
  }
  .slider_section .detail-box h1{
    font-size: 3.5rem;
  }
  .slider_section .detail-box p{
    width: 90%;
  }
}
@media (max-width: 1120px) {
  .carousel-caption {
    top: 10%;
  }
  .banner_bg_color{
    padding-top: 20px;
  }
  .slider_section .carousel-item img {
    width: auto;
    background-position: 100% 100%;
    background-size: cover;
  }
  .slider_section .detail-box h1{
    font-size: 3rem;
    line-height: 50px;
  }
  .slider_section .detail-box p{
    width: 90%;
  }
}

@media (max-width: 992px) {
  .navbar-collapse ul{
    align-items: flex-start !important;
  }
  .navbar-collapse {
    padding-top: 60px;
  }
  .mobile_search{
    width: 100%;
    padding-left: 25px;
  }
  .custom_nav-container .navbar-nav-2 .nav-item {
    padding-left: 25px !important;
  }
  .navbar-collapse.show .navbar-nav-2 .dropdown.show .dropdown-toggle{
    text-align: left;
  }
  .navbar-collapse.show .navbar-nav-2 .dropdown-menu{
    float: left;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    align-items: center;
  }


  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .slider_section .carousel-indicators {
    margin-top: 45px;
  }

  .client_section .carousel-control-prev {
    left: 15%;
  }

  .client_section .carousel-control-next {
    right: 15%;
  }

}

@media (max-width: 767px) {

  .arrival_bg_box img{
    display: none;
  }
  .slider_bg_box img {
    -o-object-position: top center;
    object-position: top center;
  }

  .arrival_section .arrival_bg_box img {
    -o-object-position: top right;
    object-position: top right;
  }

  .client_section .carousel-control-prev {
    left: 5%;
  }

  .client_section .carousel-control-next {
    right: 5%;
  }

  .slider_section .detail-box,
  .about_section .detail-box {
    margin-bottom: 45px;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .subscribe_section .box,
  .arrival_section .box {
    padding: 75px 25px;
  }

  .subscribe_section .subscribe_form form button {
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .heading_container h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 575.9px) {
  .navbar-brand img{
    width: 80px;
    padding: 20px;
    border-radius: 8px;
  }
  .dd_arrow{
    display: block;
  }
  .mobile_shop_by_section{
    height: 47px;
    overflow-y: hidden;
  }

  .col_shop_by_mobile{
    width: 30% !important;
    padding-right: 0;
  }
  .col_shop_by_mobile .shop_by_section .shop_by_category .shop_by_category_ul {
    min-height: 200px !important;
    height: calc(100vh - 240px) !important;
    max-height: calc(100vh - 240px) !important;
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }
  .shop_by_section .shop_by_category h6{
    padding-left: 8px !important;
  }
  .col_shop_by_mobile ul .shop_by_category_li{
    height: 80px;
    padding-left: 8px !important;
    padding-right: 8px !important;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .col_shop_by_mobile ul .shop_by_category_li a{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  .col_shop_by_mobile ul .shop_by_category_li a span{
    font-size: 12px;
  }
  .product_column_mobile{
    width: 70% !important;
  }
  
  .category-container .left-menu ul li{
    height: 90px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .category-container .left-menu ul li img{
    margin-right: 0;
  }
  .left-menu{
    width: 30% !important;
  }
  .right-content{
    width: 70% !important;
  }
}

@media (max-width: 480px) {
  .heading_container h2 {
    font-size: 2rem;
  }

  .carousel_btn_box {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    position: unset;
    transform: none;
  }
}

@media (max-width: 420px) {}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 768px) {
  /* Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
  }
}
